@model ASPRivals.Models.VM.ListadoPersonajeConPuntuacion
@{
    ViewData["Title"] = "Lista de Personajes con Puntos";
}

<h1>Ranking</h1>

<p>@Html.ActionLink("Volver al Inicio", "Index")</p>
<p>@Html.ActionLink("Puntuar un Combate", "PuntuarCombate")</p>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Puntuación Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listadoPersonajesConPuntuacion.Where(p => p.PuntuacionTotal > 0))
        {
            <tr>
                <td>@item.Nombre</td>
                <td>
                    <img src="@item.Imagen" alt="@item.Nombre" width="250"/>
                </td>
                <td>@item.PuntuacionTotal</td>
            </tr>
        }
    </tbody>
</table>